.main-container {
    padding: 0 200px;

}

.swip-container {
    padding: 30px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    border-radius: 5px;
    margin-bottom: 50px;
    min-height: 500px;
    /* max-width: 300px; */
}

.swip-img {
    width: 150px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.swip-h {
    font-size: 20px;
    color: rgb(96, 157, 206);
    font-weight: 500;
}

.swip-p {
    margin: 30px 0;
}

@media screen and (max-width:480px) {
    .main-container {
        padding: 0 0px;


    }

    .swip-container {
        min-height: 400px;
        padding: 0 5px;


    }

    .mySwiper {
        position: relative;
        right: 00px;
        width: 300px;
        margin-bottom: 80px;
    }

    .swip-img {
        width: 150px;
    }

    .swip-h {
        font-size: 25px;
        margin-top: 20px;
    }

    .size-p {
        font-size: 18px;
    }

    .swip-p {
        margin: 0;
        font-size: 18px;
    }

}


@media screen and (min-width:481px) and (max-width:991px) {
    .main-container {
        padding: 0;
    }

    .size-p {
        width: 700px;
    }

    .mySwiper {
        width: 800px;
    }

}