.center-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 200px;
}

.center-card {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.center-gif {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.gif-small {
    max-width: 40%;
}

.call-text {
    font-size: 22px;
    padding-bottom: 10px;
    font-weight: 500;
    color: rgb(96, 157, 206);
    ;
}

.outbound {
    margin-top: 35px;
}

.more-info-btn {

    position: relative;
    left: 500px;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    background-color: #0d6efd;
    box-shadow: 0 11px 18px -8px #0d6efd;
    color: white;
    font-size: 20px;
}



@media only screen and (max-width:480px) {
    .center-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;

    }

    .center-card {
        width: 350px;

    }

    .call-div {

        position: relative;
        left: 35px;
        width: 300px;
    }

    .our,
    .center {
        font-size: 35px;

    }

    .l-gap {
        line-height: 50px;

    }

    .c-paragraph {
        margin-top: 50px;
        font-size: 25px;
        text-align: center;
        line-height: 40px;
    }

    .more-info-btn {
        left: 100px;
    }
}

@media screen and (min-width:481px) and (max-width:991px) {

    .margin-top {
        position: relative;
        top: 100px;
    }

    .center-card {
        position: relative;
        right: 135px;
        width: 240px;
    }

    .more-info-btn {
        left: 180px;
        margin-bottom: 20px;
    }

}