.google-map {
    padding-bottom: 32%;
    position: relative;
}

.google-map iframe {
    height: 500px;
    width: 1700px;
    left: 0;
    top: 0;
    position: absolute;
}

@media screen and (max-width:480px) {
    .google-map {
        padding-bottom: 12%;
    }

    .google-map iframe {
        width: 394px;
        height: 338px;
        margin-top: -300px;
    }

}


@media screen and (min-width:481px) and (max-width:991px) {

    .google-map {
        padding-bottom: 45%;

    }

    .google-map iframe {
        width: 911px;
        height: 400px;
    }

}